name: CodSpeed

on:
  push:
    branches:
      - "main"
  pull_request:
  workflow_dispatch:

permissions:
  contents: read
  id-token: write

jobs:
  benchmarks:
    name: Run benchmarks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Set up Python 3.10
        uses: actions/setup-python@v6
        with:
          python-version: "3.14"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest pytest-codspeed
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      - name: Run benchmarks
        uses: CodSpeedHQ/action@v4.8.2
        with:
          mode: simulation
          run: pytest benchmarks/ --codspeed
